@model OxxCommerceStarterKit.Web.Services.Email.Models.ResetPassword
@{ Layout = "_Layout.Html.cshtml"; }
@section Subject { @Model.Subject }

@Html.Raw(Model.Body.Replace("[RETURNURL]", "<a style=\"color: #2d839e;\" href=\"" + @Model.ResetUrl + "\">" + Html.Translate("/common/account/reset_password") + "</a>"))
