@using OxxCommerceStarterKit.Web.Helpers
@model OxxCommerceStarterKit.Web.Models.ViewModels.IPageViewModel<OxxCommerceStarterKit.Web.Models.PageTypes.BlogPage>
@{
	ViewBag.Title = Model.CurrentPage.Name;
}
<div class="article-page blog-page">
	<div class="pre-content">
		@Html.PropertyFor(x => x.CurrentPage.PreBodyContent, new { EditContainerClass = "overflow-hidden", CssClass = "row" })
	</div>
	@if (!string.IsNullOrEmpty(Model.CurrentPage.PageTitle) || Html.IsInEditMode())
	{
		<div class="heading">
			<h1>@Html.PropertyFor(m => m.CurrentPage.PageTitle)</h1>
			<p>@Html.PropertyFor(m => m.CurrentPage.SubPageTitle)</p>
		</div>
	}
	<div class="body-content">
		@Html.PropertyFor(x => x.CurrentPage.BodyContent, new { EditContainerClass = "overflow-hidden", CssClass = "row" })
	</div>
</div>