<div class="top-controls">
	<div class="view-selector">
		<div class="view view-three selected" data-mode="3" ng-click="updateViewNrOfColumns($event)" ng-class="{ 'selected': nrOfColumns === 3}">
			<span></span><span></span><span></span>
		</div>
		<div class="view view-five" data-mode="5" ng-click="updateViewNrOfColumns($event)" ng-class="{ 'selected': nrOfColumns === 5}">
			<div class="row1"><span></span><span></span><span></span><span></span><span></span></div>
			<div class="row2"><span></span><span></span><span></span><span></span><span></span></div>
		</div>
	</div>
</div>
