<div class="epi-CreateLanguageBranchSelector">
    <div class="epi-tooltipDialogTop">
        <span data-dojo-attach-point="header"></span>
        <div data-dojo-attach-point="lastPublishedIcon" class="dijitTooltipConnector"></div>
    </div>
    <div class="epi-dropdownMenuContainer">
        <div data-dojo-type="dijit/Menu" data-dojo-attach-point="menuNode" contextMenuForWindow="false" class="epi-DropDownMenu">
            <!--need a div to hold space to make the menu which contains buttons display correctly in IE9-->
            <div style="font-size:0px;">&nbsp;</div>
        </div>
    </div>
</div>