<?xml version="1.0"?>
<log4net>
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="app_data/log/log.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="100KB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<appender name="DebugAppender"
			  type="log4net.Appender.FileAppender">
		<file value="app_data/log/debug.txt" />
        <encoding value="utf-8" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

    <!-- Reduce amount of debug logging -->
    <logger name="EPiServer.Core.OptimisticCache"
            additivity="false">
        <level value="Error" />
    </logger>
    <logger name="EPiServer.Core.ContentProvider"
            additivity="false">
        <level value="Error" />
    </logger>
    <logger name="EPiServer.Data.Dynamic.Providers.DbDataStoreProvider"
            additivity="false">
        <level value="Error" />
    </logger>
    <logger name="EPiServer.Data.Providers.SqlDatabaseHandler"
            additivity="false">
        <level value="Error" />
    </logger>
    <logger name="EPiServer.Data.Providers.ConnectionContext"
            additivity="false">
        <level value="Error" />
    </logger>
    <logger name="EPiServer.Framework.Initialization.InitializationEngine"
            additivity="false">
        <level value="Error" />
    </logger>
    
	<appender name="EcfLogAppender" type="Mediachase.Commerce.Core.Log.Appender.AppDatabaseAppender">
		<bufferSize value="10" />
	</appender>

	<root>
        <!--
		<level value="Error" />
		<appender-ref ref="EcfLogAppender" />
		<appender-ref ref="RollingFileAppender" />
        -->

        <level value="Warn" />
        <appender-ref ref="DebugAppender" />
    </root> 
</log4net>