@model OxxCommerceStarterKit.Web.Services.Email.Models.INotificationSettings

<table class="row header">
	<tr>
		<td class="center" align="center" valign="middle">
			<center>
				@Html.Raw(Model.Header)
			</center>
		</td>
	</tr>
</table>

