@model OxxCommerceStarterKit.Web.Models.ViewModels.ICatalogViewModel<EPiServer.Commerce.Catalog.ContentTypes.NodeContent>
@{
    ViewBag.Title = "Catalog";
}
<div class="product-list-page">
	<h1>@Model.CatalogContent.Name</h1>
	@Html.Partial("_CatalogCategories", Model)
	@Html.Partial("_CatalogEntries", Model)
</div>