body {
  background-color: #ffffff;
  color: #000000;
}
header .header {
  display: none;
}
header .gradient {
  display: none;
}
header .navbar {
  display: none;
}
header .logo {
  display: none;
}
header .menu-top {
  display: none;
}
header h1 {
  font-family: "Georgia", "Serif";
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}
header h2 {
  font-family: "Georgia", "Serif";
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
footer {
  border-top: none;
}
footer .extra {
  display: none !important;
}
footer .menu-footer {
  display: none !important;
}
.receipt-page .print {
  display: none;
}
.receipt-page .col-sm-4 {
  float: left;
  width: 33%;
}
.product-page .glyphicon-chevron-up,
.product-page .glyphicon-chevron-down {
  display: none;
}
.product-page .easyzoom {
  display: block;
}
.product-page .add-to-cart-form,
.product-page .social-bar,
.product-page .full-screen,
.product-page .flex-direction-nav {
  display: none;
}
.product-page .product-image-slider {
  border: none;
}
.product-page .flex-viewport {
  max-height: none;
  overflow: visible;
}
.product-page .flex-viewport ul {
  width: auto !important;
}
.product-page .collapse {
  display: block;
  height: auto !important;
}
.cart-page button {
  display: none;
}
.cart-page .discount-codes input {
  display: none;
}
