@model OxxCommerceStarterKit.Web.Models.ViewModels.ICatalogViewModel<EPiServer.Commerce.Catalog.ContentTypes.CatalogContentBase>

<div class="product-list-page">
	<h1>@Model.CatalogContent.Name</h1>
    @Html.Partial("_CatalogProducts", Model)
    @Html.Partial("_CatalogVariants", Model)
</div>