@model dynamic

@{
    Layout = "_layout.cshtml";
}


<div class="container" ng-app="" ng-controller="toolsController">
    <div class="row">
        <h1>EPiServer Commerce Developer Tools</h1>
        <ul>
            <li>@Html.ActionLink("Meta Classes", "MetaClass")</li>
        </ul>
    </div>
</div>

