@model OxxCommerceStarterKit.Web.Models.ViewModels.ICatalogViewModel<EPiServer.Commerce.Catalog.ContentTypes.CatalogContentBase>

<div>
    @Html.Partial("_CatalogProducts", Model)
    @Html.Partial("_CatalogVariants", Model)
</div>