@model OxxCommerceStarterKit.Web.Models.ViewModels.IPageViewModel<EPiServer.Core.PageData>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="my-page">
	<div class="row">
		<div class="col-sm-3">
			<div class="box menu">
				@Html.Partial("_SubNavigation", Model)
			</div>
		</div>
		<div class="col-sm-9">
			@RenderBody()
		</div>
	</div>
</div>
