@using OxxCommerceStarterKit.Web.Extensions
@using OxxCommerceStarterKit.Web.Models.ViewModels
@model IProductViewModel<EPiServer.Commerce.Catalog.ContentTypes.ProductContent>
<div class="product">
	<a href="@Url.ContentUrl(Model.CatalogContent.ContentLink)">
        <img src="@Html.AssetUrl(Model.CatalogContent)?preset=listsmall" />
	</a>
	<div class="price">
		@{
			var variants = Model.Variants.Value.Where(v => v.Price != null && 0 < v.Price.UnitPrice.Amount).ToList();

			if (variants.Any())
			{
				@Html.Partial("_Price", new PriceModel(variants.OrderByDescending(v => v.Price.UnitPrice).First().Price), new ViewDataDictionary(this.ViewData) { { "hideText", true } })
			}
		}
	</div>
</div>
