@model OxxCommerceStarterKit.Web.Models.ViewModels.SocialBarViewModel
@{
    string addThisProfileId = System.Configuration.ConfigurationManager.AppSettings["AddThis.ProfileId"];
    
}
@if (addThisProfileId != null)
{
    <div class="social-bar clearfix">
        <!-- AddThis Button BEGIN -->
        <span class="pre-text pull-left">@Model.Text</span>
        <div class="pull-left addthis_toolbox addthis_default_style addthis_16x16_style" addthis:ui_color="false" @(!string.IsNullOrEmpty(Model.Url) ? "addthis:url=" + Model.Url : "")>
            <a class="addthis_button_email"></a>
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_google_plusone_share"></a>
            @*<a class="addthis_button_tumblr"></a>
		<a class="addthis_button_pinterest_share"></a>
		<a class="addthis_button_sinaweibo"></a>*@
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=@addThisProfileId"></script>
        <!-- AddThis Button END -->
    </div>
}