<div class="container" style="margin-top: 10px">
    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> The Commerce Starter Kit has dependencies on EPiServer Find , Google Analytics, Dibs, Postnord that need additional configuration.
            Please configure the site according to the documentation. (<a href="https://github.com/OXXAS/CommerceStarterKit">https://github.com/OXXAS/CommerceStarterKit</a>)
        

        <div style="margin-top: 10px">
            <strong>Note:</strong> <i>To remove this message, change or remove the appsetting "ShowWarning".</i>
        </div>

    </div>
</div>
