@model System.Text.StringBuilder

@{
    ViewBag.Title = "Latest orders";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Latest orders</h2>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

@Html.Raw(Model.ToString())


<div id="chart_div"></div>


