<?xml version="1.0" encoding="utf-8" ?>
<module>
	<clientResources>
		<add name="vendors-jquery" path="/Scripts/libraries/jquery-2.1.0.min.js" resourceType="Script" sortIndex="1" />
		<add name="vendors-jquery" path="/Scripts/libraries/jquery-ui-1.10.4.custom.min.js" resourceType="Script" sortIndex="2" />
		<add name="vendors-jquery" path="/Scripts/libraries/jquery-plugins.js" resourceType="Script" sortIndex="3" />
		<add name="vendors-jquery" path="/Content/css/jqueryui/jquery-ui-1.10.4.custom.min.css" resourceType="Style" sortIndex="4" />
		<add name="hotspots" path="/Scripts/js/Oxx/ObjectUtils.js" resourceType="Script" sortIndex="1" />
		<add name="hotspots" path="/Scripts/js/Oxx/HotSpotsEditor.js" resourceType="Script" sortIndex="2" />
		<add name="hotspots" path="/Scripts/js/Oxx/HotSpotsEditor/HotSpot.js" resourceType="Script" sortIndex="3" />
		<add name="hotspots" path="/Content/css/hotspotseditor/hotspotseditor.min.css" resourceType="Style" sortIndex="4" />
    <add name="tag.selection.select" path="Scripts/select2/select2.js" resourceType="Script" sortIndex="2"  />
    <add name="tag.selection.select" path="Scripts/select2/css/select2.css" resourceType="Style" sortIndex="1"  />
	</clientResources>
	<clientModule>
		<requiredResources>
			<add name="vendors-jquery" />
			<add name="hotspots" />
      <add name="tag.selection.select" />
		</requiredResources>
		<moduleDependencies>
			<add dependency="CMS" type="RunAfter" />
		</moduleDependencies>
	</clientModule>
	<dojoModules>
		<add name="app" path="Scripts" />
	</dojoModules>
</module>