<?xml version="1.0"?>
<Workflow>
  <Workflows>
    <add name="CartValidate" displayname="Validate Cart" description="Checks inventory, populates extra fields" type="EPiCode.Commerce.Workflow.CartValidateWorkflow, EPiCode.Commerce.Workflow" xomlpath="" rulespath="" />
    <add name="CartPrepare" displayname="Cart Prepare" description="Creates shipments" type="EPiCode.Commerce.Workflow.CartPrepareWorkflow, EPiCode.Commerce.Workflow" xomlpath="" rulespath="" />
    <add name="CartCheckout" displayname="Cart Checkout" description="Processes credit card information" type="EPiCode.Commerce.Workflow.CartCheckoutWorkflow, EPiCode.Commerce.Workflow" xomlpath="" rulespath="" />
    <!-- Administration Workflows / mapped to toolbar actions -->
    <add name="CompleteShipmentWorkflow" displayname="Complete Shipment" description="Complete Shipment" type="EPiCode.Commerce.Workflow.Admin.POCompleteShipmentWorkflow, EPiCode.Commerce.Workflow" xomlpath="" rulespath="" />
    <add name="SplitShipmentsWorkflow" displayname="Split Shipments" description="Split Shipments" type="EPiCode.Commerce.Workflow.Admin.POSplitShipmentsWorkflow, EPiCode.Commerce.Workflow" xomlpath="" rulespath="" />
    <add name="SaveChangesWorkflow" displayname="Save order changes" description="Save order changes" type="EPiCode.Commerce.Workflow.Admin.POSaveChangesWorkflow, EPiCode.Commerce.Workflow" xomlpath="" rulespath="" />
    <add name="RecalculateTotalsWorkflow" displayname="Calculate Totals" description="Calculates totals" type="EPiCode.Commerce.Workflow.Admin.POCalculateTotalsWorkflow, EPiCode.Commerce.Workflow" xomlpath="" rulespath="" />
    <add name="RecalculatePurchaseOrderWorkflow" displayname="Recalculate Purchase Order" description="Recalculate Purchase Order" type="EPiCode.Commerce.Workflow.PurchaseOrderRecalculateWorkflow, EPiCode.Commerce.Workflow" xomlpath="" rulespath="" />
    <add name="ReturnFormRecalculateWorkflow" displayname="Recalculate Return Form" description="Recalculate Return Form" type="EPiCode.Commerce.Workflow.ReturnFormRecalculateWorkflow, EPiCode.Commerce.Workflow" xomlpath="" rulespath="" />
    <add name="ReturnFormCompleteWorkflow" displayname="Complete Return Form" description="Complete Return Form" type="EPiCode.Commerce.Workflow.ReturnFormCompleteWorkflow, EPiCode.Commerce.Workflow" xomlpath="" rulespath="" />
    <add name="CheckAndReserveInstorePickupWorkflow" displayname="Check and reserve in-store pickup" description="Check and reserve in-store pickup" type="EPiCode.Commerce.Workflow.CheckAndReserveInstorePickupWorkflow, EPiCode.Commerce.Workflow" xomlpath="" rulespath="" />
  </Workflows>
</Workflow>