<SearchConfig version="1.0">
	<SearchFilters>
		<Filter field="Brand">
			<Descriptions defaultLocale="en">
				<Description locale="en">Brand</Description>
				<Description locale="de">Marke</Description>
				<Description locale="es">Marca</Description>
			</Descriptions>
			<Values>
				<SimpleValue key="canon" value="canon">
					<Descriptions defaultLocale="en">
						<Description locale="en">Canon</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="sony" value="sony">
					<Descriptions defaultLocale="en">
						<Description locale="en">Sony</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="pentax" value="pentax">
					<Descriptions defaultLocale="en">
						<Description locale="en">Pentax</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="olympus" value="olympus">
					<Descriptions defaultLocale="en">
						<Description locale="en">Olympus</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="fuji" value="fuji">
					<Descriptions defaultLocale="en">
						<Description locale="en">Fuji</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="sandisk" value="sandisk">
					<Descriptions defaultLocale="en">
						<Description locale="en">Sandisk</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="transcend" value="transcend">
					<Descriptions defaultLocale="en">
						<Description locale="en">Transcend</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="targus" value="targus">
					<Descriptions defaultLocale="en">
						<Description locale="en">Targus</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="lexar" value="lexar">
					<Descriptions defaultLocale="en">
						<Description locale="en">Lexar</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="kingston" value="kingston">
					<Descriptions defaultLocale="en">
						<Description locale="en">Kingston</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="viking" value="viking">
					<Descriptions defaultLocale="en">
						<Description locale="en">Viking</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="simpletech" value="simpletech">
					<Descriptions defaultLocale="en">
						<Description locale="en">Simpletech</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="energizer" value="energizer">
					<Descriptions defaultLocale="en">
						<Description locale="en">Energizer</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="digipower" value="digipower">
					<Descriptions defaultLocale="en">
						<Description locale="en">Digipower</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="nikon" value="nikon">
					<Descriptions defaultLocale="en">
						<Description locale="en">Nikon</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="epson" value="epson">
					<Descriptions defaultLocale="en">
						<Description locale="en">Epson</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="adobe" value="adobe">
					<Descriptions defaultLocale="en">
						<Description locale="en">Adobe</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="kodak" value="kodak">
					<Descriptions defaultLocale="en">
						<Description locale="en">Kodak</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="apple" value="apple">
					<Descriptions defaultLocale="en">
						<Description locale="en">Apple</Description>
					</Descriptions>
				</SimpleValue>
			</Values>
		</Filter>
		<Filter field="SalePrice">
			<Descriptions defaultLocale="en">
				<Description locale="en">Price</Description>
				<Description locale="de">Preis</Description>
				<Description locale="es">Precio</Description>
			</Descriptions>
			<Values>
				<PriceRangeValue key="under-100" currency="USD" upperbound="100">
					<Descriptions defaultLocale="en">
						<Description locale="en">Under $100</Description>
						<Description locale="de">Unter 100€</Description>
					</Descriptions>
				</PriceRangeValue>
				<PriceRangeValue key="100-200" currency="USD" lowerbound="100" upperbound="200" lowerboundincluded="false" upperboundincluded="true">
					<Descriptions defaultLocale="en">
						<Description locale="en">$100-$200</Description>
						<Description locale="de">100€-200€</Description>
					</Descriptions>
				</PriceRangeValue>
				<PriceRangeValue key="200-600" currency="USD" lowerbound="200" upperbound="600" lowerboundincluded="false" upperboundincluded="true">
					<Descriptions defaultLocale="en">
						<Description locale="en">$200-$600</Description>
						<Description locale="de">200€-600€</Description>
					</Descriptions>
				</PriceRangeValue>
				<PriceRangeValue key="600-1000" currency="USD" lowerbound="600" upperbound="1000" lowerboundincluded="false" upperboundincluded="true">
					<Descriptions defaultLocale="en">
						<Description locale="en">$600-$1000</Description>
						<Description locale="de">600€-1000€</Description>
					</Descriptions>
				</PriceRangeValue>
				<PriceRangeValue key="1000-2000" currency="USD" lowerbound="1000" upperbound="2000" lowerboundincluded="false" upperboundincluded="true">
					<Descriptions defaultLocale="en">
						<Description locale="en">$1000-$2000</Description>
						<Description locale="de">1000€-2000€</Description>
					</Descriptions>
				</PriceRangeValue>
				<PriceRangeValue key="over-2000" currency="USD" lowerbound="2000" lowerboundincluded="false" upperboundincluded="false">
					<Descriptions defaultLocale="en">
						<Description locale="en">Over $2000</Description>
						<Description locale="de">Über 2000€</Description>						
					</Descriptions>
				</PriceRangeValue>
			</Values>
		</Filter>
		<Filter field="DisplaySize">
			<Descriptions defaultLocale="en">
				<Description locale="en">Display Size</Description>
				<Description locale="de">Display-Größe</Description>
				<Description locale="es">Tamaño de la pantalla</Description>
			</Descriptions>
			<Values>
				<RangeValue key="under-1.5" upperbound="1.5">
					<Descriptions defaultLocale="en">
						<Description locale="en">1.5 in &amp; Under</Description>
						<Description locale="de">1.5 in &amp; Under</Description>
					</Descriptions>
				</RangeValue>
				<RangeValue key="1.5-2.0" lowerbound="1.5" upperbound="2.0">
					<Descriptions defaultLocale="en">
						<Description locale="en">1.5 to 2.0</Description>
					</Descriptions>
				</RangeValue>
				<RangeValue key="over-2.0" lowerbound="2.0">
					<Descriptions defaultLocale="en">
						<Description locale="en">2.0 &amp; Up</Description>
					</Descriptions>
				</RangeValue>
			</Values>
		</Filter>
		<Filter field="LensType">
			<Descriptions defaultLocale="en">
				<Description locale="en">Lense Type</Description>
				<Description locale="de">Lense-Typ</Description>				
			</Descriptions>
			<Values>
				<SimpleValue key="lens" value="Zoom lens">
					<Descriptions defaultLocale="en">
						<Description locale="en">Zoom Lens</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="fixed" value="fixed">
					<Descriptions defaultLocale="en">
						<Description locale="en">Fixed Lens</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="interchangeable" value="interchangeable">
					<Descriptions defaultLocale="en">
						<Description locale="en">Interchangeable Lens</Description>
					</Descriptions>
				</SimpleValue>
			</Values>
		</Filter>
		<Filter field="MemoryFormFactor">
			<Descriptions defaultLocale="en">
				<Description locale="en">Memory Form Factor</Description>
				<Description locale="de">Memory Form Factor</Description>
			</Descriptions>
			<Values>
				<SimpleValue key="sd-memory-card" value="sd memory card">
					<Descriptions defaultLocale="en">
						<Description locale="en">SD Memory Card</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="built-in" value="built-in">
					<Descriptions defaultLocale="en">
						<Description locale="en">Built in</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="compactflash" value="compactflash card">
					<Descriptions defaultLocale="en">
						<Description locale="en">CompactFlash Card</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="memory-stick" value="memory stick">
					<Descriptions defaultLocale="en">
						<Description locale="en">Memory Stick</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="rotating" value="rotating">
					<Descriptions defaultLocale="en">
						<Description locale="en">Rotating</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="XD-Picture-Card" value="xd-picture card">
					<Descriptions defaultLocale="en">
						<Description locale="en">XD-Picture Card</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="SmartMedia-card" value="smartmedia card">
					<Descriptions defaultLocale="en">
						<Description locale="en">SmartMedia card</Description>
					</Descriptions>
				</SimpleValue>
				
			</Values>
		</Filter>
		<Filter field="OpticalZoom">
			<Descriptions defaultLocale="en">
				<Description locale="en">Optical Zoom</Description>
			</Descriptions>
			<Values>
				<RangeValue key="under-1.9" numeric="true" upperbound="1.9">
					<Descriptions defaultLocale="en">
						<Description locale="en">1.9MP &amp; Under</Description>
					</Descriptions>
				</RangeValue>
				<RangeValue key="2.0-2.9" numeric="true" lowerbound="2.0" upperbound="2.9">
					<Descriptions defaultLocale="en">
						<Description locale="en">2.0MP to 2.9MP</Description>
					</Descriptions>
				</RangeValue>
				<RangeValue key="3.0-3.9" numeric="true" lowerbound="3.0" upperbound="3.9">
					<Descriptions defaultLocale="en">
						<Description locale="en">3.0MP to 3.9MP</Description>
					</Descriptions>
				</RangeValue>
				<RangeValue key="4.0-4.9" numeric="true" lowerbound="4.0" upperbound="4.9">
					<Descriptions defaultLocale="en">
						<Description locale="en">4.0MP to 4.9MP</Description>
					</Descriptions>
				</RangeValue>
				<RangeValue key="5.0-5.9" numeric="true" lowerbound="5.0" upperbound="5.9">
					<Descriptions defaultLocale="en">
						<Description locale="en">5.0MP to 5.9MP</Description>
					</Descriptions>
				</RangeValue>
				<RangeValue key="over-6.0" numeric="true" lowerbound="6.0">
					<Descriptions defaultLocale="en">
						<Description locale="en">6.0MP &amp; Up</Description>
					</Descriptions>
				</RangeValue>
			</Values>
		</Filter>
	</SearchFilters>
</SearchConfig>