<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPiServer.Commerce.AddOns.Manager" version="2.0.926" />
  <package id="EPiServer.GoogleAnalytics" version="1.4.1.7514" />
  <package id="EPiServer.Labs.LanguageManager" version="1.1.0.75" />
  <package id="EPiServer.Packaging" version="3.0.1845" />
  <package id="EPiServer.Packaging.UI" version="3.0.1845" />
  <package id="EPiServer.VisitorGroupsCriteriaPack" version="1.0.0.75" />
</packages>